@config "../tailwind.config.js";
@import 'tailwindcss' prefix(bluxcc);

:root {
  --bluxcc-color-primary-50: #e8e8fd;
  --bluxcc-color-primary-100: #cdceee;
  --bluxcc-color-primary-200: #a2a4f6;
  --bluxcc-color-primary-500: #0c1083;
  --bluxcc-color-primary-600: #090b5d;
  --bluxcc-color-primary-700: #04062f;

  --bluxcc-color-light-red-50: #ffe5e5;
  --bluxcc-color-light-red-100: #ffcccc;
  --bluxcc-color-light-red-200: #ff9999;
  --bluxcc-color-light-red-300: #ff6666;
  --bluxcc-color-light-red-500: #ffcdcd;

  --bluxcc-color-light-blue-50: #e5fbff;
  --bluxcc-color-light-blue-100: #ccf7ff;
  --bluxcc-color-light-blue-200: #99f0ff;
  --bluxcc-color-light-blue-300: #66e8ff;
  --bluxcc-color-light-blue-500: #52e5ff;
  --bluxcc-color-light-blue-600: #00adcc;

  --bluxcc-color-gray-50: #f2f2f2;
  --bluxcc-color-gray-100: #e6e6e6;
  --bluxcc-color-gray-200: #213123;
  --bluxcc-color-gray-300: #999999;
  --bluxcc-color-gray-600: #666666;
  --bluxcc-color-gray-700: #4d4d4d;
  --bluxcc-color-gray-800: #333333;
  --bluxcc-color-gray-900: #1a1a1a;
  --bluxcc-color-gray-950: #0d0d0d;

  --bluxcc-color-alert-info: #5093ff;
  --bluxcc-color-alert-error: #ec2929;
  --bluxcc-color-alert-success: #00bd81;
  --bluxcc-color-alert-warning: #fa8f02;

  --bluxcc-animate-fade-in: fadeIn 1s ease-in-out;
  --bluxcc-animate-fade-out: fadeOut 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bluxcc\:animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}

.bluxcc\:animate-fadeOut {
  animation: fadeOut 0.5s ease-in-out;
}

#bluxcc-input[type='number']::-webkit-outer-spin-button,
#bluxcc-input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

#bluxcc-input[type='number'] {
  -moz-appearance: textfield !important;
}
